body{
  margin:0;
}
a{
  text-decoration: none;
  color:#000;
}
p{
  margin: 0;
  text-align: left;
}
ul{
  display: flex;
  padding: 0;
  list-style: none;
}
dd{
  margin: 0;
}
.module.-break{
      width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.module{
.mod_h2 {
  margin-bottom: 30px;
  padding-top: 0px;
  text-align: left;
  h2{
padding: 0 0 24px;
    border: none;
    line-height: 1.4;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    border-bottom: 2px solid #46BAF9;
    position: relative;
 &::after{
    content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #00599B;
  width: 60px;
  height: 2px;
 }
  }
}
}
.module{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.headerComponant{
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
padding: 0 40px;
.h-list{
  li{
    a{
      padding: 10px 15px;
      font-size: 15px;font-weight: 600;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        color: #2c3e50;
      }
    }
  }
}
}

// ===============end Header================================
.mainimgComponant{
      height: 100%;
    background: url('../img/main.jpg') center no-repeat;
    position: relative;
    padding: 250px 43px 78px 0;
  .box{
     max-width: 560px;
    width: 100%;
    margin: 0 0 0 auto;
    text-align: left;
    .att{
      font-size: 22px;
    color: #FFFFFF;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Zen Kaku Gothic Antique", serif;
    letter-spacing: 0.09em;
    margin-bottom: 21px;
    }
    .title{
      font-size: 66px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: "Zen Kaku Gothic Antique", serif;
    line-height: 1.2;
    margin-bottom: 18px;
    }
    .text{
          color: #FFF;
    font-family: "Zen Kaku Gothic Antique", serif;
    font-size: 15px;
    letter-spacing: 0.09em;
    }
  }
}
// ==============end Mainimg================================
.footerComponant{
  background: #005A91;
  font-size: 14px;
  .footerContent{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 15px 30px;
  display: flex;
  justify-content: space-between;
  color:#FFF;
  .info{
    text-align: left;
    line-height: 25px;white-space: pre-line;
    span{
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .f-nav{
  max-width: 368px;
  width: 100%;
    .f-list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      li{
        margin-bottom: 14px;
        max-width: 114px;
        width: 100%;
        
        a{
          display: block;
          text-align: left;
          color: #FFF;
        }
      }
      li:nth-child(2){
        max-width: 140px;
        width: 100%;
      }
    }
    .coppyright{
      font-size: 12px;
    }
  }
  }
}
// ==============end Footer================================
.index-electicial{
  background-color: #E9F9FF;
    margin-bottom: 55px;
    .box{
      max-width: 1030px;
      width: 100%;
      margin: 0 auto;
      padding: 66px 15px 90px;
    }
 .article{
      background-color: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 30px 15px 22px 30px;
    position: relative;
    box-shadow: 7px 7px 5px rgba(121, 158, 183, 0.2);
    overflow: hidden;
    margin-bottom: 10px;
    .btn{
      a{
        position: absolute;
    top: 0;
    right: 0;
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 240px;
    max-width: 60px;
    width: 100%;
    text-decoration: none;
    background-color: #0068AF;
      }
    }
    .text-box{
          margin-left: 54px;
          .title{
                font-size: 28px;
    color: #5FCAF9;
    line-height: 12px;
    font-weight: bold;
    margin-bottom: 20px;
          }
    }
 }
 .btn-bottom{
      max-width: 320px;
    width: 100%;
    margin: 50px auto 0;
  a{
        display: flex
;
    justify-content: center;
    align-items: center;
    background-color: #0068AF;
    border-radius: 5px;
    color: #EBF0F2;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    height: 70px;
    box-shadow: 7px 7px 5px rgba(121, 158, 183, 0.2);
    &::after{
          content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background: url(../img/f01.svg) right center no-repeat;
    width: 10px;
    height: 9px;
    }
}
  }
 }

.MyctaComponant {
    background: url('../img/cta_bg.jpg') center no-repeat;
    padding: 90px 15px;
    .cta__inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 54px 15px;
    .title{
      text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    span{
      display: block;
    font-size: 36px;
    line-height: 12px;
    margin-bottom: 24px;

    }
    }
    .info{
          position: relative;
    max-width: 740px;
    width: 100%;
    margin: 0 auto 25px;
    .note{
      max-width: 83px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
    background-color: #FFFFFF;
    border: 1px solid #0068AF;
    border-radius: 50%;
    height: 83px;
    display: flex
;
    justify-content: center;
    align-items: center;
    color: #0068AF;
    font-size: 14px;
    line-height: 13.57px;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    }
    .list{
      display: flex
;
    justify-content: space-between;
    align-items: center;
    li{
          max-width: 360px;
    width: 100%;
    a{
          display: flex
;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #0068AF;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 14px;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: bold;
    border-radius: 5px;
    span{
      background: url(../img/icon_tel.svg) left center no-repeat;
    padding-left: 38px;
    }
    }
    }
    li:last-child{
      a{
            background-color: #B5A13E;
            span{
                  background: url(../img/icon_mail.svg) left center no-repeat;
    padding-left: 30px;
            }
      }
    }
    }
    }
    .btn{
          max-width: 203px;
    width: 100%;
    margin: 0 auto 40px;
    a{
          text-align: center;
    display: block;
    border-bottom: 1px solid #04B74D;
    color: #04B74D;
    text-decoration: none;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: 0;
    font-weight: bold;
    padding-bottom: 8px;
    span{
          background: url(../img/icon_line.svg) left center no-repeat;
    padding-left: 30px;
    }
}
    }
    .info-box{
          max-width: 740px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid #B3DDF4;
    border-radius: 10px;
    .att{
          display: flex
;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #B3DDF4;
    color: #000000;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    }
    .text-box{
          display: flex
;
    justify-content: center;
    .image{
          margin-top: -40px;
    margin-bottom: 14px;
    }
    .inner{
      max-width: 440px;
    width: 100%;
    margin-left: 52px;
    margin-top: 20px;
    .bg-title{
      font-size: 22px;
    color: #0068AF;
    line-height: 12px;
    font-weight: bold;
    }
    }
    }
    }
    }
}



.index-purpose {
    background: url(../img/bg01.jpg) center no-repeat;
    background-size: cover;
    margin-top: -22px;
    .box{
          max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 15px;
    .list{
      display: flex
;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    li{
      
    max-width: 260px;
    width: 100%;
    display: flex
;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #18C6AC;
    color: #000000;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    height: 50px;
    position: relative;
    margin: 0 8px;
    span{
          background: url(../img/icon_check.svg) left center no-repeat;
    padding-left: 30px;
    }
    &::after{
          content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/icon01.svg) bottom center no-repeat;
    width: 24px;
    height: 14px;
    }
    }
    }
    .title{
          text-align: center;
    font-size: 36px;
    color: #EBF0F2;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
    span{
          color: #27E0C0;
    }
    }
    .text{
          max-width: 570px;
    width: 100%;
    margin: 0 auto 58px;
    color: #EBF0F2;
    }
    .info{
          background-color: #FFF;
    border-radius: 10px;
    padding: 40px 15px 42px;
    margin-bottom: 50px;
    .bg-title{
      text-align: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
    margin-bottom: 23px;
    span{
          background: url(../img/icon02.svg) left center no-repeat, url(../img/icon03.svg) right center no-repeat;
    padding: 0 70px;
    }
    }
    .info-box{
          display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    dl{
          max-width: 160px;
    width: 100%;
    background: url(../img/bg01.svg) center no-repeat;
    background-size: cover;
    text-align: center;
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 160px;
    flex-direction: column;
    margin: 0 8px;
    dt{
          text-align: center;
    color: #EBF0F2;
    font-size: 22px;
    margin-top: 3px;
    font-weight: bold;
    }
    }
    }
    }
    .btn{
          max-width: 320px;
    width: 100%;
    margin: 0 auto;
    a{
          display: flex
;
    justify-content: center;
    align-items: center;
    background-color: #0068AF;
    border-radius: 5px;
    color: #EBF0F2;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    height: 70px;
    box-shadow: 7px 7px 5px rgba(121, 158, 183, 0.2);
&::after{
      content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    background: url(../img/icon_arrow.svg) right center no-repeat;
    width: 14px;
    height: 13px;
}
    }
    }
    }
}



.index-reasons {
    background-color: #F0F5F7;
    margin-top: 153px;
    position: relative;
    z-index: 10;
    &::after{
          content: "";
    position: absolute;
    top: -80px;
    left: 0;
    background: url(../img/bg02.svg) top center no-repeat;
    width: 100%;
    height: 130px;
    z-index: -1;
    }
    .box{
          max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 72px;
    .att{
          font-size: 20px;
    color: #3CA1E5;
    font-weight: bold;
    margin-left: 280px;
    }
    .bg-title{
          font-size: 34px;
    color: #005A91;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 280px;
    span{
          font-size: 54.6px;
    font-weight: bold;
    }
    }
    .note{
          font-size: 18px;
    line-height: 1.2;
    color: #00B59F;
    font-weight: bold;
    font-family: "Open Sans", serif;
    margin-bottom: 33px;
    margin-left: 280px;
    span{
          background: url(../img/bg_h3.svg) left center no-repeat, url(../img/bg_h3.svg) right no-repeat;
    padding: 0 50px;
    }
    }
    .article{
      display: flex
;
    align-items: center;
     .image{
          margin-right: -417px;
    }
    .text-box{
          max-width: 640px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    padding: 50px 52px 50px 52px;
    margin-top: -5px;
    margin-right: -200px;
    .num{
          position: absolute;
    top: 45px;
    right: 45px;
    z-index: -1;
    }
    .title{
          font-size: 28px;
    line-height: 1.2;
    color: #3CA1E5;
    font-weight: bold;
    margin-bottom: 20px;
    }
   
    }
    }
    .article:nth-child(2) {
    flex-direction: row-reverse;
    margin: 50px 0;
    .text-box {
    margin-right: 0;
    margin-left: -200px;
}
 .image {
    margin: 0 0 0 -417px;
}
}
    }
}